# Python 暫存檔
__pycache__/
*.pyc

# 虛擬環境 (如果您有建立)
venv/
.env

# 系統檔案
.DS_Store

# 產生的分析結果 (不用上傳，因為每次跑程式都會產生)
*.png
*.zip

# 如果您的 data 資料夾非常大(超過100MB)，建議也不要上傳
# 但如果是小檔案，可以保留下面這行註解，讓它上傳
# 1. 先忽略 data 資料夾底下的「所有檔案」
data/*

# 2. 使用 ! 符號來「例外保留」這個特定檔案
!data/Kaohsiung_iot_station.csv
